@using DepartmentManagementSystem.Models.EntityFramework;
@model IEnumerable<tblDepartment>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List Of Departments</h2>
<p>@Html.ActionLink("Create New Department", "New")</p>

<table class="table table-bordered table-responsive-md" id="tblDepartments">
    <thead class="thead-light">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var department in Model)
        {
            <tr>
                <td>@department.d_ID</td>
                <td>@department.d_Name</td>
                <td>
                <a href="/Department/Update/@department.d_ID">Update</a> |
                <a href="#" class="btnDeleteDepartment" data-id="@department.d_ID" data-name="@department.d_Name">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

