@model IEnumerable<DepartmentManagementSystem.Models.EntityFramework.tblUser>

@{
    ViewBag.Title = "DMS Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List Of Users</h2>
<p>@Html.ActionLink("Create User", "Create")</p>

<table class="table table-bordered table-responsive-sm" id="tblUsers">
    <thead class="thead-light">
        <tr>
            <th>ID</th>
            <th>@Html.DisplayNameFor(model => model.u_Name)</th>
            <th>@Html.DisplayNameFor(model => model.tblRole.r_Name)</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.u_ID)</td>
            <td>@Html.DisplayFor(modelItem => item.u_Name)</td>
            <td>@Html.DisplayFor(modelItem => item.tblRole.r_Name)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.u_ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.u_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.u_ID })
            </td>
        </tr>
        }
    </tbody>
</table>
